<div class="center jumbotron">
  <h1>Welcome to Ribbit!</h1>
  <h2>Your window into the internet. </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("logo.png", alt: "Ribbit logo", width: "200"), "/" %>