<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      Ribbit is a Reddit-like forum in which users can share content. Make posts, comment, subscribe to sub forums.
    </p>
  </body>
</html>


